body {
    background-color: #0C3C3B;
    animation: fadeOut 1s ease-in-out forwards;
    animation-delay: 4.7s;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        background-color: white;
    }
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}