@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Stack+Sans+Headline:wght@200..700&display=swap");

:root {
  --color-green: #0c3c3b;
  --color-yellow: #ffc53e;
  --color-black: #171717;
  --color-white: #f9f3f1;
}

body {
  font-family: "Poppins";
}

nav {
  padding: 30px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.links {
  display: flex;
  gap: 25px;
}

.circle {
  position: absolute;
  color: var(--color-yellow);
  border-radius: 30px;
  border: 10px solid;
  border-width: 10px;
  left: 320px;
  top: 35px;
}

.number {
  position: absolute;
  left: 326px;
  top: 38px;
  font-size: 0.8em;
}

nav input {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  color: var(--color-black);
  border: 2px solid var(--color-black);
  border-radius: 20px;
}

nav input::placeholder {
  color: var(--color-black);
}

.searchbar img {
  position: absolute;
  width: 3%;
  top: 112px;
  left: 40px;
}

header {
  padding-left: 30px;
  padding-right: 30px;
}

main {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 100px;
}

.trending h2 {
  margin-top: 30px;
}

.trending img {
  border-radius: 100px;
  width: 15%;
  object-fit: cover;
  background-color: var(--color-green);
}

.trending-img {
  display: flex;
  gap: 19px;
}

.feed h2 {
  margin-top: 30px;
}

.feed-img article {
  width: 140px;
}

.feed-img h3 {
  margin: 10px 0px;
}

.feed-img p {
  margin: 0;
  margin-bottom: 10px;
}

.feed-img img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  background-color: var(--color-green);
  border-radius: 20px;
}

.feed-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  gap: 20px;
}

.reviews {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-top: 10px;
  text-align: center;
}

.reviews i {
  font-size: 0.7em;
  color: var(--color-yellow);
}

.reviews p {
  margin: 0;
  color: rgb(167, 167, 167);
}

.add-btn span {
  border: 2px solid var(--color-yellow);
  border-radius: 100px;
  background-color: var(--color-yellow);
  padding: 1px 7px;
  font-size: 1.4em;
}

.add-btn a {
  text-decoration: none;
  color: var(--color-black);
  font-size: 0.7em;
}

.test {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  background-color: var(--color-green);
  display: flex;
  padding: 30px 30px 30px 0px;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}

footer img {
  width: 30px;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0c3c3b;
  width: 100vw;
  height: 100vh;
  animation: fadeOut 1s ease-in-out forwards;
  animation-delay: 4.3s;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  object-fit: cover;
}

.intro-video {
  width: 360px;
}
